::selection{
  background: rgb(0, 0, 191);
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: rgb(0, 0, 191);
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: rgb(0, 0, 191);
  color: #fff;
  text-shadow: none;
}
