

.coreskills-box{
	border: 1px solid #7db9e5;
	/* border: 1px solid #4a9eda; */
	margin: 60px 0px 0 0px;
	text-align: center;
  padding-bottom: 20px;
  width:70%;
}

	.coreskills-box--coreskills{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		/* background: blue; */
		width: 90%;
		text-align: left;
		padding-bottom: 50px;
		/* margin: 5rem; */
	}

	.coreskills-box--coreskills h1{
		/* color: cyan; */
		font-size: 1.5rem;
	}

	.coreskills-box__core-col{
		line-height: 2rem;
		width: 300px;
		/* background: rgb(0, 0, 75); */
		margin: 20px 30px;
		font-size: .9rem;
		
	}

	.coreskills-box__core-col p{
		/* margin-top: 0; */
		margin-bottom: 30px;
		font-size: 1rem !important;
	}



i {
	color: rgb(27, 47, 233);
}



.skill{
	/* color: rgb(190, 255, 250); */
	line-height: 2;
	list-style: none;
}



li ul{
	/* list-style: none; */
	line-height: 5;
}



.fa-pencil{
	color: red;
}



.fa-youtube-play{
	color: rgb(255, 50, 0);
}



.fa-camera{
	color: rgb(255, 80, 0);
}



.fa-picture-o{
	color: rgb(255, 110, 0);
}



.fa-html5{
	color: rgb(255, 140, 0);
}



.fa-css3{
	color: rgb(255, 170, 0);
}



.fa-th-large{
	color: rgb(255, 200, 0);
}



.fa-bars{
	color: rgb(255, 230, 0);
}



.fa-code {
    color: rgb(229, 255, 0);
}



.fa-area-chart {
    color: rgb(229, 255, 0);
}



.fa-window-maximize{
	color: rgb(229, 255, 0);
}



.fa-git{
	color: rgb(200, 255, 0);
}



.fa-columns{
	color: rgb(179, 255, 0);
}



/* ==========SECOND ROW ========== */



.fa-certificate{
	color: rgb(0, 255, 85);
}



.fa-file-video-o{
	color: rgb(229, 255, 0);
}



.fa-file-code-o{
	color: rgb(0, 255, 234);
}



.fa-code-fork{
	color: rgb(0, 247, 255);
}



.fa-space-shuttle{
	color: rgb(0, 217, 255);
}



.fa-terminal{
	color: rgb(0, 195, 255);
}



.fa-briefcase{
	color: rgb(0, 102, 255);
}



.fa-language{
	color: rgb(98, 0, 255);
}



@font-face {
  font-family: 'GTWalsheim';
  src: url('https://s3.amazonaws.com/aws-website-animatedcodeme--n3fph/assets/walsheim/GT-Walsheim-Regular.woff') format('woff'),
       url('https://s3.amazonaws.com/aws-website-animatedcodeme--n3fph/assets/walsheim/GT-Walsheim-Regular.eot') format('embedded-opentype'),
      
       /* url('webfont.woff2') format('woff2'), Super Modern Browsers */

       /* url('webfont.ttf')  format('truetype'), Safari, Android, iOS */
       url('https://s3.amazonaws.com/aws-website-animatedcodeme--n3fph/assets/walsheim/GT-Walsheim-Regular.ttf') format('truetype');

       /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
  font-weight: normal;
  font-style: normal;
}



h1 {
  /* color: red; */
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  /* font-family: 'GTWalsheim', sans-serif; */
}



/*CSS RESET*/



* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* font-weight: normal; */
  /*-webkit-font-smoothing: antialiased;*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*-webkit-font-smoothing: antialiased;*/
  /*font-smooth: always;*/
  /*-webkit-text-stroke: 0px!important;*/
  /*text-rendering: optimizeLegibility !important;*/
}



/* CSS VARIABLES */



:root{
  /* --arss-red: #ff0064; */
  --aa-cyan: #A5FFFF;
	--aa-nav: #003376;
	--aa-db: #020039;
	--aa-lime: #a0f42b;
	--nav-white: rgba(255, 255, 255, 0.709);
  --nav-cyan: #00fbff;
  --bright-blue: rgb(22, 73, 255);
  /* --placeholder: rgba(203, 0, 149, 0.5); */
}



$navblue: rgb(22, 73, 255);

.aa-cyan{
  background: var(---aa-cyan);
}



.aa-cyan{
  background: var(--aa-cyan);
}



.aa-nav{
  /* color: var(--nav-white); */
}



.aa-nav:hover{
  color: var(--nav-cyan);
}



.bg-aalime{
  // background: var(--aa-lime);
  // background: red;
  background: color('cerulean', 50);
}

.bg-ibm-1{
  background: color('aqua', 20);
}
.bg-ibm-2{
  background: color('teal', 20);
}
.bg-ibm-3{
  background: color('green', 20);
}
.bg-ibm-4{
  background: color('lime', 20);
}



.dark{
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}



.bright-blue{
  color: var(--bright-blue);
}



.mr-half { margin-right: .15rem; }



/*===================================================*/



/*GLOBALS*/



/*===================================================*/



html, body{
  /* font-family: $inc; */
  font-family: 'GTWalsheim', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
	background-color: var(--aa-db);
	/* color: $roy; */
  /*box-sizing: border-box;*/
  /*background-color: purple;*/
  /*margin: 0px;*/
  /*-webkit-font-smoothing: antialiased !important;*/
}



/*===================================================*/



/*HEADER AREA*/



/*===================================================*/



header{
	/*margin: 10px 10px 10px 0;*/
	padding-left: 30px;
	padding-right: 30px;
}



.social-bottom{
/*	display: flex;
	justify-content: flex-end;*/
	/*width: 20%;*/
	/*justify-self: start;*/
}



.social-col--inner{

}



.profile-pic {
  margin-top: 70px;
  width: 70px;
  height: 70px;
  border-radius: 300px;
  margin-bottom: 30px;
}



h2 {

	padding-top: 30px;
	text-align: center;
  color: cyan;
  font-size: 1rem;
}



.social-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;-ms-flex-wrap: wrap;flex-wrap: wrap;
	flex-wrap: wrap;
}



.social-col{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/*width: 100%;*/
}



.parens {
  color: cyan;
  font-size: 1.7rem;
}



/*SOCIAL ICONS AT TOP*/



.icon {
  width:20px;
  height: 20px;
  margin: 0 10px;
}



.fa-envelope-o {
  position: relative;
  top:0px;
  right:5px;

}



/*.fa-arrow-down{
	color: cyan;
	text-align: center;
	padding-top: 15px;
}*/



.fa-arrow-circle-down{
	color: cyan;
	text-align: center;
	padding-top: 15px;
}



/*===================================================*/



/* MAIN / CONTENT */



/*===================================================*/



.header-box{
	border: 1px solid cyan;
	margin: 0 auto;
  width: 100%;
  text-align: center;
	padding-bottom: 20px;
}



.wrapper{
  margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*flex-direction: column;*/
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;

}



.column{
	/* display: flex; */
	/* flex-direction: column; */
	/* width: 100%; */
	/*justify-content: center;*/
}



.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-direction: column;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}



/*align-content: center;*/



.container p {
    font-size: 1.15rem;
    line-height: 2.9rem;
      /* color: lightest-blue; */
    }



/*align-items: stretch;*/



.container--parag {
    /* position: relative; */
    /*left: 8px;*/
    max-width: 478px;
    margin: auto;

  }



/*flex-wrap: wrap;*/



.container--contact {
    max-width: 300px;

    /*padding: 0 0px;*/
    margin:auto;
  }



.container--left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /*margin-left: 25px;*/
  }



.container--marbot30 {
    margin-bottom: 30px;
  }



.container--marginbot40 {
    margin-bottom: 40px;
  }



.container--marbot10 {
    margin-bottom: 10px;
  }



.container--marbot20 {
    margin-bottom: 20px;
  }



.container--marbot60 {
    margin-bottom: 60px;
  }



.container--marbot80 {
    margin-bottom: 80px;
  }



.container--martop20 {
    margin-top: 20px;
  }



.container--martop30 {
    margin-top: 30px;
  }



.container--martop40 {
    margin-top: 40px;
  }



.container--martop50 {
    margin-top: 50px;
  }



.container--martop70 {
    margin-top: 70px;
  }



.container--pad10 {
  padding: 10px 0;
	}



#email{
  margin-bottom: 0px;
}



.fullcard {
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  /*flex: 0 0 230px;*/
  height:auto;
  /*border: red solid 5px;*/
  border-radius: 5px;
}



.fullcard:first-child {
  /*margin-top: 0px;*/
}



.card-img {
  width:400px;
  height: 200px;
  background-color: lightgray;
}



.card-img img {
    width:400px;
  }



.card-img-transp {
  padding: 10px;
  width:400px;
  height: 200px;
  background-color: rgba(255, 255, 255, .15);
}



.card-bottom {
    width:400px;
    /*height: 200px;*/
    background-color: white;
    padding: 40px;
    height: auto;
  }



.card-bottom .copy {
			margin-top: 8px;
			margin-bottom: 30px;
      line-height: 1.8rem;
    }



/* STYLES FOR THE TAGS */



.card-bottom p {
      line-height: 1.5rem;
      font-size: 1rem;
      color: gray;
    }



.coreskills-box__core-col p{
      line-height: 1.8rem;
  }



.text__title {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: blue;
      padding-bottom: 20px;
    }



.text__title--white {
      /* font-size: 1.4rem; */
      color: white;
      /* padding-bottom: 20px; */
		}



.text__title--center {
			display: block;
			text-align: center;
      /* font-size: 1.4rem; */
      /* color: white; */
      /* padding-bottom: 20px; */
    }



.text--smaller {
      font-size: 1.1rem;
      /*margin-top: 35px;*/
		}



.tag-container {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}



.tag-container .tag {
    margin-right: 5px;
    padding: 0px 8px;
    border-radius: 2px;
    background-color: red;
  }



.tag-container p {
      font-size: .75rem;
      color:white;
    }



.tag-container .tag--red {
    background-color: red;
  }



.tag-container .tag--orange {
    background-color: #FF9500;
  }



.tag-container .tag--lightgreen {
    background-color: #8BD961;
  }



.tag-container .tag--purple {
    background-color: #A100FF;
    /*background-color: gold;*/
  }



.tag-container .tag--blue {
    background-color: blue;
  }



.tag-container .tag--bluegreen {
    background-color: #00D4AD;
  }



.tag-container .tag--gold {
    background-color: #FDBE00;
  }



/*COLOR SCHEME: Blue-gray to bright-green*/



.tag-container .tag--blgr1 {
    background-color: #0d71e4;
  }



.tag-container .tag--blgr2 {
    background-color: rgb(28, 159, 211);
  }



.tag-container .tag--blgr3 {
    background-color: rgb(1, 188, 212);
  }



.tag-container .tag--blgr4 {
    background-color: rgb(0, 212, 184);
  }



.tag-container .tag--blgr5 {
    background-color: rgb(0, 224, 120);
  }



.display-none {
  display: none;
}



#thankyou p{
  font-size: 1.8rem;
  margin-bottom: 25px;
}



footer{
	margin-bottom: 250px;
}



@-ms-viewport{
  width: device-width;
}



/*IMPORTANT TO GET THE FULLSCREEN IMAGE TO TOUCH THE BOTTOM!!*/



/*html {
  height: 100%;
}

body{
    min-height: 100%;
}*/



/*====================*/



/*       MIXINS       */



/*====================*/



/* MOBILE Devices, Phones -- 767 PIXELS and SMALLER */



@define-mixin mobile  {
    @media only screen and (max-width : 767px) {

    }
}



/* STANDARD Devices, Tablets -- 768 PIXELS and LARGER */



@define-mixin standard  {
    @media only screen and (min-width : 768px) { 

    }
}



/* HOVER.CSS: Grow Shadow*/



/*INITIALIZE HOVER SCALE*/



.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
}



/*SCALE TO 1.035*/



.hvr-scale-1-035:hover, .hvr-scale-1-035:focus, .hvr-scale-1-035:active {
  -webkit-transform: scale(1.035);
  transform: scale(1.035);
}



/*SCALE TO 1.04*/



.hvr-scale-1-04:hover, .hvr-scale-1-04:focus, .hvr-scale-1-04:active {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}



/*SCALE TO 1.07*/



.hvr-scale-1-07:hover, .hvr-scale-1-07:focus, .hvr-scale-1-07:active {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}



/*SCALE TO 1.1*/



.hvr-scale-1-1:hover, .hvr-scale-1-1:focus, .hvr-scale-1-1:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/*SCALE TO 1.5*/



.hvr-scale-1-5:hover, .hvr-scale-1-5:focus, .hvr-scale-1-5:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}



/*ADD UNDER SHADOW */



.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
                /*  x   y   blur ?   color                 */
-webkit-box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 4px 6px 0px rgba(50, 50, 50, 0.3);
}



p.hvr-cyan:hover{
  color: cyan;
}



a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  }



/*NOT BEING USED*/



.aa-tooltip {
    background: blue;
    font-size:10px;
    height:50px;
    width:100px;
    padding:10px;
    color:#fff; 
    z-index: 99;
    border: none !important;
    border-radius: 0;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.8;
}



.vbox-close{
    width: 70px !important;
    height: 55px !important;
    font-size: 40px !important;
}



.return-btn{
  background: pink;
  border: 2px solid white;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/



/*==========  Mobile First Method  ==========*/



/* CUSTOM, iPhone Retina */



/*@media only screen and (min-width : 320px) {
    }*/



/* EXTRA SMALL Devices, Phones */



/*@media only screen and (min-width : 480px) {
    }*/



/*CUSTOM BREAKPOINT: */



@media only screen and (max-width : 879px) {
       /* .card-div:nth-child(odd) {
          margin-right: 0px;
        }*/

    }



/*MOBILE BREAKPOINT*/



/*MOBILE BREAKPOINT*/



/* EXTRA SMALL Devices, Phones -- 500 PIXELS and SMALLER */



@media only screen and (max-width : 500px) {

		html, body{
			/*margin: 0;*/
		}


		.social-wrapper{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			/*flex-wrap: wrap;*/
			/*width: 90%;*/
			/*margin: 0 20%;*/
		}

		.social-col{
			/*display: flex;*/
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			/*width: 100%;*/
		}

		.column--right .header-box {
			/*padding-top: 25px;*/
			margin-top: 130px;
		}
}



/* SMALL Devices, Tablets -- 768 PIXELS and LARGER */



@media only screen and (min-width : 768px) { 

    }



/* MEDIUM Devices, Desktops -- 992 PIXELS and LARGER */



/*@media only screen and (min-width : 992px) {*/



/*}*/



/* LARGE Devices, Wide Screens -- 1200 PIXELS and LARGER */



/*@media only screen and (min-width : 1200px) {*/



/*}*/